.logo {
  position: relative;
  background-image: url('https://static1.squarespace.com/static/58502567bebafba120baaa92/t/58ac2a8eb8a79be91016a3da/1481799052173/amads-twitter.png');
  background-size: cover;
  h2 {
    display: inline-block;
    position: relative;
    margin: $gutter;
    padding: $gutter;

    span {
      font-weight: 600;
    }
    img {
      height: 1em;
      width: auto;
    }
  }
}
